@import "./Variables/_colors.scss";
@import "./Variables/_fonts";


.App {
    text-align: center;
    background-color: $main-color;
    margin: 0;
    padding: 3%;
    overflow: hidden;
  }

h1{
    height: 600%;
    text-align: center;
    color: $secondary-color;
 }

h2{
    color: $blue-color;
    height: 40px;
    font: $secondary-font;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.image {
    width: 1000px;
    height: 550px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 12%;
    font-size: 3rem;
    color: $main-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 12%;
    font-size: 3rem;
    color: $main-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.list {
        background-color: $secondary-color;
        border: 3px solid $black-color;
    }

.update {
        background-color: $secondary-color;
        border: 3px solid $black-color;
    }

.trash {
        background-color: $secondary-color;
        border: 3px solid $black-color;
    }

.back {
        background-color: $secondary-color;
        border: 3px solid $black-color;
    }

h4 {
    padding: 0;
    margin: 5;
    color: $h5-color;
}

.search{
    display: flex;
    position: absolute;
    right: 180px;
    bottom: 580px;
    width: 150px;
    border: 3px solid $black-color;
    color: $h5-color;
    padding: 3px;
    margin: none;
    background-color: $secondary-color;

}

.login {
    display: flex;
    position: absolute;
    left: 180px;
    bottom: 580px;
    width: 150px;
    border: 3px solid $black-color;
    color: $h5-color;
    padding: 3px;
    margin: none;
    background-color: $secondary-color;
}

.programs {
    display: flex;
    position: absolute;
    left: 480px;
    bottom: 580px;
    width: 150px;
    border: 3px solid $black-color;
    color: $h5-color;
    padding: 3px;
    margin: none;
    background-color: $secondary-color;
}

.meals {
    display: flex;
    position: absolute;
    right: 480px;
    bottom: 580px;
    width: 150px;
    border: 3px solid $black-color;
    color: $h5-color;
    padding: 3px;
    margin: none;
    background-color: $secondary-color;
}