@import "./Variables/_colors.scss";
@import "./Variables/_fonts";


.App {
    text-align: center;
    background-color: $main-color;
    margin: 0;
    padding: 3%;
    overflow: hidden;
  }

h1{
    height: 200%;
    color: $secondary-color;
    font: $primary-font;
 }

h2{
    color: $blue-color;
    height: 40px;
    font: $secondary-font;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;

}
//   .App-logo {
//     height: 40vmin;
//     pointer-events: none;
//   }
  
//   @media (prefers-reduced-motion: no-preference) {
// .App-logo {
//       animation: App-logo-spin infinite 20s linear;
//       background-color: rgb(102, 10, 10);
//     }
//   }
  
//   .App-header {
//     background-color: #de1d1d;
//     min-height: 300vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     font-size: calc(10px + 2vmin);
//     color: white;
//   }
  
//   .App-link {
//     color: #010607;
//   }
  
//   @keyframes App-logo-spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
  